{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "singleQuote": false,
    "svelteSortOrder": "options-scripts-markup-styles",
    "trailingComma": "none",
    "bracketSameLine": false
}  